{{!< layout}}
<div class="aui-page-panel main-panel">
  <div class="aui-page-panel-inner">
    <section class="aui-page-panel-item">
      <div class="aui-group">
        <div class="aui-item">
          <code>
            println("Hello world");
            //{{content}}
          </code>
        </div>
      </div>
    </section>
  </div>
</div>