{{!< layout}}
{{#if notFixedRev}}
  <div class="ly-scenario-warn">
     It references a branch so its content might change. Please use a revision number instead.
  </div>
{{/if}}
<div class="ly-scenario-warn">
  Due to changes in Atlassians policies we can no longer provide this addon. It will stop working
  end of January 2019. If that is a problem for you, please contact us at info@linkyard.ch
</div>
<div style="font-size: 0.7em; text-align: center; background: none">
  <a href="{{link}}" target="_blank">{{name}} @ {{shortRev}}</a>
</div>
<pre style="margin: 0"><code class="hljs">{{{formatted}}}</code></pre>
