{{!< layout}}
{{#if notFixedRev}}
  <div class="ly-scenario-warn">
     It references a branch so its content might change. Please use a revision number instead.
  </div>
{{/if}}
<div style="font-size: 0.7em; text-align: center; background: none">
  <a href="{{link}}" target="_blank">{{name}} @ {{shortRev}}</a>
</div>
<pre style="margin: 0"><code class="hljs">{{{formatted}}}</code></pre>
